.DS_Store
.idea
.vscode
.python-version

**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd

**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.coverage
**/.coverage.*
**/htmlcov/
**/coverage.xml

**/.venv/
venv/
build/
dist/
*.egg-info/
.env
.env.*
*.db
*.sqlite3
*.log
reports/junit/
reports/test-results.html
